.postform-page {
    border: 1px solid red;
    height: 90vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.post-title-label, .post-category-field, .post-image-field, .post-content-label, .post-location-label {
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple */
}

.postform-input, .postform-textarea {
    /* border: 2px solid black; */
    padding: 5px;
    width: 25%;
    align-items: center;
}

.post-form {
    /* border: 1px solid green; */
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
input {
}
