.profile-dropdown {
  position: absolute;
  right: 1px;
  padding: 5px;
  border: 1px solid black;
  z-index: 100;
  background-color: white;
}

.hidden {
  display: none;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: #31c48d;
}
