.home-page-container {
    /* border: 1px solid red; */
    padding: 5vh;
}
.post-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.individual-posts {
    border: 1px solid black;
}

.post-title {
    text-align: center;
}

.post-images {
    height: 400px;
    width: 400px;
    object-fit: fit;
}
