.home-page-container {
    /* border: 1px solid red; */
    padding: 2rem;
}

.post-button {
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    background-color: #31c48d;
    border: #31c48d;
    border-radius: 5px;
    font-weight: bold;
    color: white
}

.post-button:hover {
    cursor: pointer;
    background-color: #79e8bf;
}

.post-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    height: 100%;
}

.individual-posts {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
}

.post-title {
    text-align: center;
}

.post-images {
    height: 450px;
    width: 100%;
    object-fit: fit;
}

.message-button {
    padding: 1rem;
    border: #31c48d;
    border-radius: 5px;
    background-color: #31c48d;
    font: 14px;
    font-weight: bold;
    color: white;
}

.message-button:hover {
    cursor: pointer;
    background-color: #79e8bf;
}
